.ActualWeather {
width: 100%;
box-sizing: border-box;
border: 3px solid blue;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 10px;
}

.ActualWeather_info {
    width: 370px;
    height: 380px;
    border: 3px solid red;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.ActualWeather_info_description{
    width: 100%;
    flex: 1;
    border: 1px solid orange;
    text-align: center;
}

.ActualWeather_info_tempAndIcon{
    width: 100%;
    flex: 3;
    border: 1px solid orange;
    display: flex;
}

.ActualWeather_info_tempAndIcon span{
    height: 100%;
    flex: 4;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ActualWeather_info_tempAndIcon i{
    height: 100%;
    flex: 6;
    font-size: 3rem;
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ActualWeather_chart {
    height: 380px;
    flex: 1;
    max-width: 800px;
    min-width: 600px;
    border: 3px solid red;
    margin: 10px;
}

.ActualWeather_info_adds{
    width: 100%;
    flex: 8;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ActualWeather_info_adds p{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ActualWeather_info_adds_choice{
    flex: 1;
    width: 100%;
    display: flex;
    
}
.ActualWeather_info_adds_choice div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.ActualWeather_info_adds_choice div :hover{
    color: greenyellow;
}