.actualCity {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px 0px;
    height: 70px;
    font-weight: bold;
    font-size: 21px;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    border: 3px solid $main-blue;
}

.actualCity button{
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 81, 0);
    background-color: rgb(253, 248, 212);
    border-radius: 20px;
    font-size: 21px !important;
    padding: 0px !important;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;
}

.actualCity button:hover{
background-color: goldenrod;
border: 1px solid goldenrod;
color: white;
}