.ActualWeather {
width: 100%;
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 10px;
}

.ActualWeather_info {
    width: 370px;
    height: 380px;
    border: 5px solid rgb(1, 157, 219);
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.ActualWeather_info_description{
    width: 100%;
    flex: 1;
    text-align: center;
}

.ActualWeather_info_tempAndIcon{
    width: 100%;
    flex: 3;
    display: flex;
    justify-content: center;
}

.ActualWeather_info_tempAndIcon span{
    height: 100%;
    width: 35%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
}

.ActualWeather_info_tempAndIcon i{
    height: 100%;
    width: 30%;
    font-size: 4rem;
    color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ActualWeather_chart {
    height: 380px;
    flex: 1;
    max-width: 800px;
    min-width: 600px;
    border: 5px solid rgb(1, 157, 219);
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}

.ActualWeather_info_adds{
    width: 100%;
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ActualWeather_info_adds p{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ActualWeather_info_adds_choice{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.ActualWeather_info_adds_choice div{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 2px;
    border: 3px solid ;
    background-color: white;
    border: 3px solid rgb(1, 157, 219);
    border-radius: 10px;
}

.ActualWeather_info_adds_choice div:hover{
    color: goldenrod;
    background-color: gray;
}