.DayOfTheWeek {
    width: 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.DayOfTheWeek_day{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.DayOfTheWeek_temperature {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DayOfTheWeek_icone{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: purple;
    font-size: 5rem;
}

.DayOfTheWeek_description {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}