.days5Info {
    display: flex;
    width: 100%;
}

.days5Info_data{
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.days5Info_data_daynight{
    width: 100%;
    flex: 1;
}

.days5Info_data_container{
    width: 100%;
    flex:10;
    display: flex;
}

.days5Info_data_container_left{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.days5Info_data_container_right{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.days5Info_data_container p{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days5Info_data_container span{
    flex: 4;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.days5Info_data_container i{
    flex: 4;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.days5Info_chart{
    flex: 1;
    height: 360px;
}

