.inputCity_input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    background-color: transparent;
    font-weight: bold;
}

@media (max-width:650px){
    .inputCity_input{
        font-size: 15px;
    }
}